*.iml
*.iws
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Pastas de ambiente virtual (se usarem Python)
venv/
.venv/
env/
__pycache__/
*.pyc

# Arquivos temporários ou de log
*.log